[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
jupyter = "*"
jupyter-contrib-nbextensions = "*"
numpy = "==1.20.1"
regex = "==2020.11.13"
pandas = "*"
pytest = "==5.2"
networkx = "*"

[requires]
python_version = "3.8"
